PORT=3002
NODE_ENV=development

DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=booking_db

FLIGHT_SERVICE_PATH=http://localhost:3000
AUTH_SERVICE_PATH=http://localhost:3001

KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=booking-service
BOOKING_TOPIC=booking-events
