PORT=3000
NODE_ENV=development

DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=flight_db

KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=flight-service
AVAILABILITY_TOPIC=availability-events
